//- script(src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js")
script(src="js/main.js")
script(src="js/diary.js")
script(src="js/emotion.js")
script(src="https://kit.fontawesome.com/175bc02a93.js" crossorigin="anonymous")
//- <script src="https://kit.fontawesome.com/175bc02a93.js" crossorigin="anonymous"></script>