doctype html
html(lang="en")
  head

    include includes/_config.pug
    include includes/_head.pug

    meta(property="og:title" content=title)
    title #{title}
  body
    #app.is-home

    //-   include includes/_navbar.pug

    header.l-header
      .c-event
        //- 先出現的下拉選單
        .event_1
          .evnt_wrap 
            .event_desc 今天做了什麼？
            i.fa-solid.fa-sort-down.icon_down
          //- <i class="fa-solid fa-sort-down"></i>
        //- 按鈕後出現的"選事件"畫面
        .event_2
          ul.group.g_social 
            .g_title 社交
            .g_social.g_inside
              li.g_li
                i.fa-solid.fa-people-roof
                .desc 家庭
              li.g_li
                i.fa-solid.fa-people-robbery
                .desc 朋友
              li.g_li 
                i.fa-solid.fa-heart
                .desc 約會
              li.g_li 
                i.fa-solid.fa-champagne-glasses
                .desc 派對
          ul.group.g_interest 
            .g_title 興趣
            .g_interest.g_inside
              li.g_li 
                i.fa-solid.fa-film
                .desc 電視電影
              li.g_li 
                i.fa-solid.fa-book-open
                .desc 閱讀
              li.g_li 
                i.fa-solid.fa-gamepad
                .desc 遊戲
              li.g_li 
                i.fa-solid.fa-person-running
                .desc 運動
              li.g_li 
                i.fa-solid.fa-umbrella-beach
                .desc 放鬆
          ul.group.g_sleep
            .g_title 睡眠
            .g_sleep.g_inside
              li.g_li 
                i.fa-solid.fa-moon
                .desc 睡得好
              li.g_li
                i.fa-solid.fa-bed
                .desc 睡得普通
              li.g_li 
                i.fa-solid.fa-couch
                .desc 睡得差
          ul.group.g_food 
            .g_title 食物
            .g_food.g_inside
              li.g_li 
                i.fa-solid.fa-basket-shopping
                .desc 外送
              li.g_li 
                i.fa-solid.fa-utensils
                .desc 餐廳
              li.g_li 
                i.fa-solid.fa-kitchen-set
                .desc 在家煮
              li.g_li 
                i.fa-solid.fa-seedling
                .desc 沒有肉
              //- li.g_li 
              //-   i.fa-solid.fa-carrot
              //-   .desc 健康
              //- li.g_li 
              //-   i.fa-solid.fa-cheese
              //-   .desc 無糖
              //- li.g_li 
              //-   i.fa-solid.fa-martini-glass-citrus
              //-   .desc 無汽水
              //- li.g_li 
              //-   i.fa-solid.fa-burger
              //-   .desc 速食
            .g_food_2.g_inside
              //- li.g_li 
              //-   i.fa-solid.fa-basket-shopping
              //-   .desc 外送
              //- li.g_li 
              //-   i.fa-solid.fa-utensils
              //-   .desc 餐廳
              //- li.g_li 
              //-   i.fa-solid.fa-kitchen-set
              //-   .desc 在家煮
              //- li.g_li 
              //-   i.fa-solid.fa-seedling
              //-   .desc 沒有肉
              li.g_li 
                i.fa-solid.fa-carrot
                .desc 健康
              li.g_li 
                i.fa-solid.fa-cheese
                .desc 無糖
              li.g_li 
                i.fa-solid.fa-martini-glass-citrus
                .desc 無汽水
              li.g_li 
                i.fa-solid.fa-burger
                .desc 速食
          .evnt_wrap
            .event_desc 今天做了什麼？
            i.fa-solid.fa-sort-up.icon_up
          //- <i class="fa-solid fa-sort-up"></i>
      .l-card
        .c-header
          .date_wrap
            .date 10月10日
            .time 22:01
          .finish 完成
        textarea#diary.c-card_big(name="diary", placeholder="寫下今天發生的事吧...") 
        //- .bottom
        //-   .btn_add + 添加一篇
        //-   .gradient

    //-   include includes/_footer.pug    

    include includes/_scripts.pug